Imports

In [2]:
from datetime import datetime
from meteostat import Hourly, Stations

In [3]:
stations_poland = Stations().region("PL")

In [8]:
stations_poland.fetch(stations_poland.count())

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end
id,,,,,,,,,,,,,,,
12001,Petrobaltic Beta / Bytonia,PL,<NA>,12001,<NA>,55.4808,18.1825,46.0,Europe/Warsaw,2014-11-27,2023-02-07,NaT,NaT,NaT,NaT
12100,Kolobrzeg,PL,ZA,12100,<NA>,54.1833,15.5833,3.0,Europe/Warsaw,1935-01-01,2023-02-07,2003-08-02,2019-10-16,NaT,NaT
12105,Koszalin,PL,ZA,12105,EPKO,54.2000,16.1500,32.0,Europe/Warsaw,1952-01-01,2023-04-11,1999-03-16,2022-03-31,2005-01-01,2020-01-01
12106,Koszalin Zegrze Pom.,PL,ZP,12106,<NA>,54.0333,16.3000,72.0,Europe/Warsaw,NaT,NaT,NaT,NaT,1962-01-01,1977-01-01
12115,Ustka,PL,PM,12115,<NA>,54.5833,16.8667,6.0,Europe/Warsaw,1937-07-15,2023-02-07,1999-03-16,2022-03-30,2005-01-01,2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EPNT0,Nowy Targ / Nowytarg,PL,MA,<NA>,EPNT,49.4628,20.0503,628.0,Europe/Warsaw,2014-05-13,2022-07-13,NaT,NaT,NaT,NaT
EPPT0,Piotrków Trybunalski / Piotrkow Trybunalski / ...,PL,LD,<NA>,EPPT,51.3831,19.6883,205.0,Europe/Warsaw,2011-03-31,2021-12-07,NaT,NaT,NaT,NaT
EPRP0,Radom / Piastów,PL,MZ,<NA>,EPRP,51.4789,21.1100,146.0,Europe/Warsaw,1939-11-01,2008-12-31,2001-07-13,2004-08-18,NaT,NaT
EPSD0,Szczecin-D?bie / Zdroje,PL,ZP,<NA>,EPSD,53.3921,14.6338,1.0,Europe/Warsaw,1928-01-01,2023-03-20,1999-03-19,2022-03-07,2005-01-01,2022-01-01
EPSY0,Mazury / Szymany,PL,WN,<NA>,EPSY,53.4819,20.9377,141.0,Europe/Warsaw,2020-01-14,2023-04-11,2020-01-14,2022-04-27,2020-01-01,2022-01-01

In [ ]:
# Set time period
start = datetime(2018, 1, 1)
end = datetime(2018, 12, 31, 23, 59)

# Get hourly data
data = Hourly("72219", start, end)
data = data.fetch()

# Print DataFrame
print(data)

In [3]:
import requests

data = requests.get(
    "https://archive-api.open-meteo.com/v1/archive?latitude=54.35&longitude=18.65&start_date=2023-03-25&end_date=2023-04-08&hourly=temperature_2m,relativehumidity_2m,pressure_msl,surface_pressure,rain,snowfall,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m"
)
data1 = data.json()
pass

In [8]:
from weather_data import WeatherData, ModelBasedOptions, HourlyData
from datetime import datetime

options = ModelBasedOptions(
    hourly=[
        HourlyData.Temperature_2m,
        HourlyData.RelativeHumidity_2m,
        HourlyData.WindDirection_10m,
        HourlyData.WindSpeed_10m,
    ]
)
meta_data, daily, hourly = WeatherData.getModelBasedData(
    54.35, 18.65, datetime(2023, 3, 25), datetime(2023, 4, 8), options
)

ModuleNotFoundError: No module named 'weatherdata'