Imports

In [4]:
from datetime import datetime
from meteostat import Hourly, Stations

In [5]:
stations_nearby = Stations().nearby(
    54.35,
    18.65,
)
stations_nearby_df = stations_nearby.fetch()

In [6]:
station = stations_nearby_df.iloc[0]
station

name               Gdansk-Rebiechowo
country                           PL
region                            PM
wmo                            12150
icao                            EPGD
latitude                     54.3833
longitude                    18.4667
elevation                      135.0
timezone               Europe/Warsaw
hourly_start     1931-01-01 00:00:00
hourly_end       2023-04-14 00:00:00
daily_start      1979-05-02 00:00:00
daily_end        2022-04-25 00:00:00
monthly_start    1954-01-01 00:00:00
monthly_end      2022-01-01 00:00:00
distance                12438.413138
Name: 12150, dtype: object

In [7]:
data_1 = Hourly(station["wmo"]).fetch()

In [8]:
data_2 = Hourly(station["wmo"], model=False).fetch()

In [9]:
__stationColumnTranslation = {
    "temp": "temperature_C",
    "tavg": "average_temperature_C",
    "tmin": "minimal_temperature_C",
    "tmax": "maximal_temperature_C",
    "dwpt": "dew_point_C",
    "rhum": "relative_humidity_precent",
    "prcp": "percipation_mm",
    "snow": "snow_depth_mm",
    "wdir": "wind_direction_degree",
    "wspd": "wind_speed_kmh",
    "wpgt": "wind_gust_kmh",
    "pres": "sea_level_pressure_hpa",
    "tsun": "total_sunshine_minutes",
    "coco": "weather_condition_code",
}

hourly_columns = [__stationColumnTranslation[column] for column in data_1.columns]
data_1.columns = hourly_columns

data_1

,temperature_C,dew_point_C,relative_humidity_precent,percipation_mm,snow_depth_mm,wind_direction_degree,wind_speed_kmh,wind_gust_kmh,sea_level_pressure_hpa,total_sunshine_minutes,weather_condition_code
time,,,,,,,,,,,
1931-01-01 06:00:00,-2.8,-3.3,96.0,NaN,NaN,160.0,33.5,NaN,1003.1,NaN,NaN
1931-01-01 12:00:00,1.1,0.7,97.0,NaN,NaN,160.0,16.6,NaN,999.0,NaN,NaN
1931-01-01 18:00:00,1.1,0.7,97.0,NaN,NaN,160.0,3.6,NaN,999.3,NaN,NaN
1931-01-02 06:00:00,-2.2,-2.8,96.0,NaN,NaN,160.0,16.6,NaN,997.6,NaN,NaN
1931-01-02 12:00:00,-1.1,-2.8,88.0,NaN,NaN,110.0,16.6,NaN,995.7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2023-04-18 06:00:00,6.9,3.7,80.0,NaN,NaN,243.0,14.8,27.8,1016.7,NaN,3.0
2023-04-18 07:00:00,8.0,3.8,75.0,NaN,NaN,247.0,16.7,29.6,1016.9,NaN,3.0
2023-04-18 08:00:00,8.9,3.9,71.0,NaN,NaN,257.0,18.5,29.6,1017.0,NaN,2.0
2023-04-18 09:00:00,9.6,4.0,68.0,NaN,NaN,269.0,18.5,31.5,1017.0,NaN,2.0
2023-04-18 10:00:00,10.0,3.9,66.0,NaN,NaN,285.0,20.4,33.3,1017.1,NaN,NaN

In [3]:
stations_poland = Stations().region("PL")

In [8]:
stations_poland.fetch(stations_poland.count())

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end
id,,,,,,,,,,,,,,,
12001,Petrobaltic Beta / Bytonia,PL,<NA>,12001,<NA>,55.4808,18.1825,46.0,Europe/Warsaw,2014-11-27,2023-02-07,NaT,NaT,NaT,NaT
12100,Kolobrzeg,PL,ZA,12100,<NA>,54.1833,15.5833,3.0,Europe/Warsaw,1935-01-01,2023-02-07,2003-08-02,2019-10-16,NaT,NaT
12105,Koszalin,PL,ZA,12105,EPKO,54.2000,16.1500,32.0,Europe/Warsaw,1952-01-01,2023-04-11,1999-03-16,2022-03-31,2005-01-01,2020-01-01
12106,Koszalin Zegrze Pom.,PL,ZP,12106,<NA>,54.0333,16.3000,72.0,Europe/Warsaw,NaT,NaT,NaT,NaT,1962-01-01,1977-01-01
12115,Ustka,PL,PM,12115,<NA>,54.5833,16.8667,6.0,Europe/Warsaw,1937-07-15,2023-02-07,1999-03-16,2022-03-30,2005-01-01,2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EPNT0,Nowy Targ / Nowytarg,PL,MA,<NA>,EPNT,49.4628,20.0503,628.0,Europe/Warsaw,2014-05-13,2022-07-13,NaT,NaT,NaT,NaT
EPPT0,PiotrkÃ³w Trybunalski / Piotrkow Trybunalski / ...,PL,LD,<NA>,EPPT,51.3831,19.6883,205.0,Europe/Warsaw,2011-03-31,2021-12-07,NaT,NaT,NaT,NaT
EPRP0,Radom / PiastÃ³w,PL,MZ,<NA>,EPRP,51.4789,21.1100,146.0,Europe/Warsaw,1939-11-01,2008-12-31,2001-07-13,2004-08-18,NaT,NaT
EPSD0,Szczecin-D?bie / Zdroje,PL,ZP,<NA>,EPSD,53.3921,14.6338,1.0,Europe/Warsaw,1928-01-01,2023-03-20,1999-03-19,2022-03-07,2005-01-01,2022-01-01
EPSY0,Mazury / Szymany,PL,WN,<NA>,EPSY,53.4819,20.9377,141.0,Europe/Warsaw,2020-01-14,2023-04-11,2020-01-14,2022-04-27,2020-01-01,2022-01-01

In [ ]:
# Set time period
start = datetime(2018, 1, 1)
end = datetime(2018, 12, 31, 23, 59)

# Get hourly data
data = Hourly("72219", start, end)
data = data.fetch()

# Print DataFrame
print(data)

In [3]:
import requests

data = requests.get(
    "https://archive-api.open-meteo.com/v1/archive?latitude=54.35&longitude=18.65&start_date=2023-03-25&end_date=2023-04-08&hourly=temperature_2m,relativehumidity_2m,pressure_msl,surface_pressure,rain,snowfall,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m"
)
data1 = data.json()
pass

In [2]:
from weather_data import WeatherData, ModelBasedOptions, HourlyData
from datetime import datetime

options = ModelBasedOptions(
    hourly=[
        HourlyData.Temperature_2m,
        HourlyData.RelativeHumidity_2m,
        HourlyData.WindDirection_10m,
        HourlyData.WindSpeed_10m,
    ]
)
meta_data, daily, hourly = WeatherData.getModelBasedData(
    54.35, 18.65, datetime(2023, 3, 25), datetime(2023, 4, 8), options
)
hourly

,temperature_2m,relativehumidity_2m,winddirection_10m,windspeed_10m
time,,,,
2023-03-25 00:00:00,7.7,90,236,11.7
2023-03-25 01:00:00,7.2,91,232,11.8
2023-03-25 02:00:00,6.8,91,219,11.5
2023-03-25 03:00:00,6.5,91,214,14.8
2023-03-25 04:00:00,6.5,90,219,16.1
...,...,...,...,...
2023-04-08 19:00:00,9.2,87,21,8.9
2023-04-08 20:00:00,7.8,92,6,9.8
2023-04-08 21:00:00,4.9,98,358,10.4
2023-04-08 22:00:00,4.3,98,348,10.7
2023-04-08 23:00:00,4.0,99,341,9.9

In [3]:
from weather_data import WeatherData
from datetime import datetime

meta_data, daily, hourly = WeatherData.getStationData(
    54.35, 18.65, datetime(2023, 3, 25), datetime(2023, 4, 8), max_distance_m=50000
)
hourly

,temperature_C,dew_point_C,relative_humidity_precent,percipation_mm,snow_depth_mm,wind_direction_degree,wind_speed_kmh,wind_gust_kmh,sea_level_pressure_hpa,total_sunshine_minutes,weather_condition_code
time,,,,,,,,,,,
2023-03-25 00:00:00,6.0,4.0,87.0,0.0,NaN,190.0,9.4,25.9,1000.0,NaN,2.0
2023-03-25 01:00:00,6.0,5.0,93.0,0.0,NaN,210.0,11.2,25.9,1000.0,NaN,2.0
2023-03-25 02:00:00,5.0,4.0,93.0,0.0,NaN,180.0,7.6,25.9,1000.0,NaN,2.0
2023-03-25 03:00:00,6.0,4.0,87.0,0.0,NaN,220.0,14.8,25.9,1000.0,NaN,2.0
2023-03-25 04:00:00,6.0,4.0,87.0,0.0,NaN,240.0,11.2,25.9,999.0,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...
2023-04-07 20:00:00,6.0,5.0,93.0,0.0,NaN,350.0,14.8,20.4,1020.0,NaN,3.0
2023-04-07 21:00:00,6.0,5.0,93.0,0.2,NaN,350.0,9.4,20.4,1021.0,NaN,17.0
2023-04-07 22:00:00,5.0,5.0,100.0,0.2,NaN,350.0,7.6,18.5,1021.0,NaN,3.0
2023-04-07 23:00:00,6.0,5.0,93.0,0.0,NaN,330.0,5.4,16.7,1021.0,NaN,3.0
2023-04-08 00:00:00,5.0,5.0,100.0,0.0,NaN,310.0,7.6,14.8,1021.0,NaN,5.0